.app {
  background: var(--primary-100);
  color: var(--primary-900);
  transition: var(--transition);
}

.text-light {
  color: var(--primary-100);
}

.text-dark {
  color: var(--primary-900);
}

.text-grey {
  color: var(--grey-400);
}

.primary-gradient-text {
  background: var(--primary-gradient);
  text-transform: capitalize;
}

.secondary-gradient-text {
  background: var(--secondary-gradient);
  text-transform: capitalize;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 1rem 2.5rem;
  border: transparent;
  outline: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-100);
  background: var(--primary-500);
  box-shadow: 0 0 4px var(--primary-800);
  transition: var(--transition-300);
}

.primary-gradient-bg {
  background: var(--primary-gradient);
}

.btn:hover {
  box-shadow: 0 0 6px var(--primary-900);
  background: var(--primary-600);
  cursor: pointer;
}

.btn.primary-gradient-bg:hover {
  background: var(--primary-gradient);
  transform: scale(1.05);
}

.section__padding {
  padding: 6rem;
}

.section__width {
  width: 70%;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-up {
  -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s
    forwards;
  animation: slide-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s forwards;
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s
    forwards;
  animation: slide-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s forwards;
}

/* ===================== Media Queries =================== */

@media screen and (max-width: 1200px) {
  .section__padding {
    padding: 4rem;
  }

  .section__width {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__width {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .section__padding {
    padding: 2rem;
  }
}

/* ================Key Frames =================== */

/* ---------- Slide Bottom ------------ */

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* ---------- Slide Up ------------ */

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* ---------- Slide Right ------------ */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/* ---------- Slide Left ------------ */

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
