.text-light {
  color: var(--primary-100);
}

.text-dark {
  color: var(--primary-900);
}

.text-grey {
  color: var(--grey-400);
}

.theme-dark {
  background: var(--primary-900);
  color: var(--primary-100);
}

.theme-light {
  background: var(--primary-100);
  color: var(--primary-900);
}

.theme-dark a,
.theme-dark p {
  color: var(--grey-300);
}

.theme-dark a:hover {
  color: var(--primary-100);
}

.primary-gradient-bg {
  background: var(--primary-gradient);
}

.primary-gradient-text {
  background: var(--primary-gradient);
  text-transform: capitalize;
}

.secondary-gradient-text {
  background: var(--secondary-gradient);
  text-transform: capitalize;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-height {
  height: var(--nav-height);
}

.btn {
  padding: 0.8rem 2.5rem;
  border: transparent;
  outline: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: var(--grey-100);
  background: var(--primary-500);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.6);
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6);
  background: var(--primary-600);
  cursor: pointer;
}

.section__padding {
  padding: 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 1200px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 800px) {
  .section__padding {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .section__padding {
    padding: 2rem;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
