@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[data-theme="theme-dark"] {
  --primary-100: hsl(var(--hsl-value), 100%, 5%);
  --primary-200: hsl(var(--hsl-value), 100%, 17%);
  --primary-300: hsl(var(--hsl-value), 97%, 28%);
  --primary-400: hsl(var(--hsl-value), 98%, 39%);
  --primary-500: hsl(var(--hsl-value), 98%, 50%);
  --primary-600: hsl(var(--hsl-value), 98%, 61%);
  --primary-700: hsl(var(--hsl-value), 97%, 72%);
  --primary-800: hsl(var(--hsl-value), 98%, 83%);
  --primary-900: hsl(var(--hsl-value), 100%, 95%);
}

:root {
  --font-body: "Poppins", "sans-serif";

  --hsl-value: 189;

  --primary-100: hsl(var(--hsl-value), 100%, 95%);
  --primary-200: hsl(var(--hsl-value), 98%, 83%);
  --primary-300: hsl(var(--hsl-value), 97%, 72%);
  --primary-400: hsl(var(--hsl-value), 98%, 61%);
  --primary-500: hsl(var(--hsl-value), 98%, 50%);
  --primary-600: hsl(var(--hsl-value), 98%, 39%);
  --primary-700: hsl(var(--hsl-value), 97%, 28%);
  --primary-800: hsl(var(--hsl-value), 100%, 17%);
  --primary-900: hsl(var(--hsl-value), 100%, 5%);

  --grey-100: #f1f1f1;
  --grey-200: #d4d4d4;
  --grey-300: #b8b8b8;
  --grey-400: #9c9c9c;
  --grey-500: #808080;
  --grey-600: #636363;
  --grey-700: #474747;
  --grey-800: #2a2a2a;
  --grey-900: #0e0e0e;

  --color-golden: #ffdf00;

  --primary-gradient: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  --secondary-gradient: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
  --primary-gradient-inverse: linear-gradient(
    90deg,
    #b673f8 100.78%,
    #4ca5ff 2.34%
  );

  --transition: 0.1s ease;

  --transition-300: 0.3s ease;

  --nav-height: 80px;
}

body {
  font-family: var(--font-body);
}

p {
  color: var(--grey-500);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  line-height: 70px;
}

h2 {
  font-size: 3.5rem;
  line-height: 62px;
}

h3 {
  font-size: 3rem;
  line-height: 50px;
}

h4 {
  font-size: 2rem;
  line-height: 42px;
}

h5 {
  font-size: 1.5rem;
  line-height: 35px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
    line-height: 70px;
  }

  h2 {
    font-size: 2.6rem;
    line-height: 62px;
  }

  h3 {
    font-size: 2rem;
    line-height: 50px;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 42px;
  }

  h5 {
    font-size: 1rem;
    line-height: 35px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
    line-height: 50px;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 42px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 35px;
  }

  h4 {
    font-size: 1.3rem;
    line-height: 35px;
  }

  h5 {
    font-size: 1.1rem;
    line-height: 35px;
  }
}
